	h1,h2,h3,h5,h6 {
		color: #333333;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: normal;
	}
	h1 {
		font-size: 30px;			
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		color: #282a2c;
		font-family: Open Sans;
		font-weight: normal;
		font-size: 13px;
	}
	h5 {
		font-size: 12px;
	}
	
	h6 {
		font-size: 12px;
	}
	
	body {
		color: #666666;
		font-family: Open Sans;
		font-weight: normal;
		font-size: 13px;
	}
	.result_side {
		float: left;
		margin: 18px 0px 10px 5px;
	}
	
	.input_type2 {
		background-color: #FBFBFB;
		border: 1px solid #CECECE;
		width: 100%;
		height: 25px;
		padding: 0px 5px;
	}
	
	.SearchBtn {
		background-color: #DF2516;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #FFF;
		padding: 0px;
		margin: 5px 0px;
		text-align: center;
		text-transform: uppercase;
		display: block;
		border: medium none;
		width: 100%;
		height: 19px;
	}
	
	.SearchBtn2 {
		background-color: #5B4BA4;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #FFF;
		padding: 0px;
		margin-top: 5px;
		text-align: center;
		text-transform: uppercase;
		display: block;
		border: medium none;
		width: 100%;
		height: 19px;
	}
	
	.result_bar {
		background: red;
		width: 100%;
		float: left;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		color: #FFF;
		padding: 5px;
	}
	
	.result_bar2 {
		background: rgb(102, 83, 173);
		width: 100%;
		float: left;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		color: #FFF;
		padding: 5px;
	}
	.result_bar span {
		display: block;
		font-weight: normal;
		padding: 0px 0px 0px 10px;
	}
	.ui-accordion-header{
		font-size: 16px !important;
	}
	.list{
		list-style-type: square;
	}
	.list li {
		padding-left: 10px;
		line-height:23.5px;
	}
	th, td{
		padding: 5px;
	}
	select {
		color: #999;
		padding: 0px 10px !important;
		box-sizing: border-box;
		border-color: #D5DBE0 !important;
		border: 1px solid;
		height: 32px;
		background-image: url("../img/select-arrow.png") !important;
		background-repeat: no-repeat;
		background-position: right center;
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.ui-accordion-content {
		height: auto !important;
	}
	.ui-state-default{
		color: #fff !important;
		background: #4782B2 !important;
	}
	.ui-state-active {
		background: #003A6A !important;
		color: #fff !important;
	}
	.widget_mailchimpsf_widget .widget-title {
		line-height: 1.4em;
		margin-bottom: 0.75em;
	}
	
	#mc_subheader {
		line-height: 1.25em;
		margin-bottom: 18px;
	}
	
	.mc_merge_var {
		margin-bottom: 1.0em;
	}
	
	.mc_var_label,
	.mc_interest_label {
		display: block;
		margin-bottom: 0.5em;
	}
	
	.mc_input {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
	}
	
	.mc_input.mc_phone {
		width: auto;
	}
	
	select.mc_select {
		margin-top: 0.5em;
		width: 100%;
	}
	
	.mc_address_label {
		margin-top: 1.0em;
		margin-bottom: 0.5em;
		display: block;
	}
	
	.mc_address_label ~ select {
		width: 100%;
	}
	
	.mc_list li {
		list-style: none;
		background: none !important;
	}
	
	.mc_interests_header {
		margin-top: 1.0em;
		margin-bottom: 0.5em;
	}
	
	.mc_interest label,
	.mc_interest input {
		margin-bottom: 0.4em;
	}
	
	#mc_signup_submit {
		margin-top: 1.5em;
		width: 80%;
	}
	
	#mc_unsub_link a {
		font-size: 0.75em;
	}
	
	#mc_unsub_link {
		margin-top: 1.0em;
	}
	.mc_header_address,
	.mc_email_format {
		display: block;
		font-weight: bold;
		margin-top: 1.0em;
		margin-bottom: 0.5em;
	}
	.mc_email_options {
		margin-top: 0.5em;
	}
	.mc_email_type {
		padding-left: 4px;
	}
	.thin {
		padding: 0px 5px;
	}
	.inline {
		display: inline;
		font-weight:bold;
	}
	.logo{
		text-align:left;
	}
	.header-right {
		margin: 25px auto;
	}
	#fbox {
		background-color: #00569D;
		height: 300px;
		margin-top: -17px;
	}
	#fbox h1{
		color:#FFF; font-size:24px; padding-left:15px; padding-top:20px;
	}
	#fbox ul{
		font-size: 16px;
		color:white;
	}
	#fbox ul.focus {
		font-size: 24px;
	}
	#fbox ul li{
		line-height: 25px;
	}
	#fbox a {
		color: #FECD0B;
	}
	.no-js .se-pre-con { display: none;  }
	.js .se-pre-con { display: block; position: fixed;top: 0; }
	.se-pre-con {
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url(../img/loading.gif) center no-repeat #fff;
	}
	.cd-top {
	  display: inline-block;
	  height: 40px;
	  width: 40px;
	  position: fixed;
	  bottom: 40px;
	  right: 10px;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	  /* image replacement properties */
	  overflow: hidden;
	  text-indent: 100%;
	  white-space: nowrap;
	  background: #428BCA url(../img/cd-top-arrow.svg) no-repeat center 50%;
	  visibility: hidden;
	  opacity: 0;
	  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
	  -moz-transition: opacity .3s 0s, visibility 0s .3s;
	  transition: opacity .3s 0s, visibility 0s .3s;
	}
	.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
	  -moz-transition: opacity .3s 0s, visibility 0s 0s;
	  transition: opacity .3s 0s, visibility 0s 0s;
	}
	.cd-top.cd-is-visible {
	  /* the button becomes visible */
	  visibility: visible;
	  opacity: 1;
	}
	.cd-top.cd-fade-out {
	  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	  opacity: .5;
	}
	.no-touch .cd-top:hover {
	  background-color: #e86256;
	  opacity: 1;
	}
	.box-dark {
		background: #444 none repeat scroll 0% 0%;
		color: #FFF;
	}
	
	.carousel-controls a .fa {
	  -webkit-transition: all 0.4s ease-in-out;
	  -moz-transition: all 0.4s ease-in-out;
	  -ms-transition: all 0.4s ease-in-out;
	  -o-transition: all 0.4s ease-in-out;
	  background: #dddddd;
	  color: #fff;
	  display: inline-block;
	  width: 20px;
	  height: 20px;
	  text-align: center;
	  margin-right: 0;
	  font-size: 15px;
	}
	.carousel-controls a.next .fa {
	  padding-top: 2px;
	  padding-right: 1px;
	}
	.carousel-controls a.prev .fa {
	  padding-top: 2px;
	  padding-right: 1px;
	}
	.carousel-controls a:hover .fa {
	  background: #6091ba;
	}
	.news .carousel-controls {
	  position: absolute;
	  right: 20px;
	  top: 10px;
	}
	.home-page .news h2.title {
	  font-size: 18px;
	  margin-top: 0;
	}
	.home-page .news h2.title a {
	  color: #444444;
	}
	.home-page .news h2.title a:hover {
	  color: #365d7e;
	}
	.home-page .news .news-item {
	  padding-left: 115px;
	  position: relative;
	  margin-bottom: 20px;
	}
	.home-page .news .thumb {
	  position: absolute;
	  left: 0;
	  top: 0;
	}
	h1.section-heading {
		font-size: 22px;
		font-weight: 300;
		line-height: 2;
		color: #2F506C;
	}
	h2.title{
		font-size: 18px;
	}
	.news{
		background: #FFF;
	}
	.news .thumb {
		position: absolute;
		left: 0px;
		top: 0px;
	}
	h2.title, .read-more {
		margin-left: 90px;
	}
	a.btn-cta, .btn-cta {
		line-height: 1.33;
		border-radius: 0px;
		padding: 10px 20px;
		
	}
	.btn.focus, .btn:focus, .btn:hover {
		text-decoration: none;
	}
	.btn-cta {
		font-size: 20px;
		margin-top: 30px;
		font-family: "Open Sans",arial,sans-serif;
	}
	a.btn-cta:hover, .btn-cta:hover {
		color: #FFF;
		background: #2A6496 none repeat scroll 0% 0%;
		border: 1px solid #84AAC9;
	}
	.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
		outline: thin dotted;
		outline-offset: -2px;
	}
	a.btn-cta, .btn-cta {
		background: #2A6496 none repeat scroll 0% 0% padding-box;
		color: #FFF;
		font-size: 18px;
		line-height: 1.33;
		border-radius: 0px;
		border: 1px solid #6091BA;
		font-family: "open sans",arial,sans-serif;
		padding: 10px 20px;
	}
	.btn {
		transition: all 0.4s ease-in-out 0s;
		border-radius: 0px;
		background-clip: padding-box;
	}
	.events .event-item {
		position: relative;
		padding-left: 55px;
		border-bottom: 1px solid #E8E8E8;
		padding-bottom: 10px;
	}
	.events .event-item .date-label {
		background: none repeat scroll 0% 0% #FFF;
		position: absolute;
		left: 0px;
	}
	.events .event-item p {
		margin-bottom: 5px;
	}
	.date-label {
		background: none repeat scroll 0% 0% #F5F5F5;
		display: inline-block;
		width: 40px;
		height: 50px;
		text-align: center;
		font-size: 13px;
	}
	.date-label .month {
		background: none repeat scroll 0% 0% #6091BA;
		color: #FFF;
		display: block;
		font-size: 13px;
		text-transform: uppercase;
	}
	.date-label .date-number {
		clear: left;
		display: block;
		padding-top: 5px;
		font-size: 15px;
		font-family: "open sans",arial,sans-serif;
		font-weight: 500;
	}
	.events .event-item {
		position: relative;
		padding-left: 55px;
		border-bottom: 1px solid #E8E8E8;
		padding-bottom: 10px;
	}
	 .section-content {
		padding: 0px 15px 15px;
	}
	.events .event-item h2.title {
		margin: 20px 0px;
		font-size: 16px;
		font-family: "open sans",arial,sans-serif;
		font-weight: 300;
	}
	@media only screen and (min-width: 768px) {
	  .cd-top {
		right: 20px;
		bottom: 20px;
	  }
	}
	@media only screen and (min-width: 1024px) {
	  .cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	  }
	}
	